
header {
    background-color: #244751;
    color: #E8FDFF;
}
body {
    background-color: whitesmoke;
}
main {
    background-color: yellow;
    padding: 16px;
}
.finstigram-post {
    margin-bottom: 48px;
}
.finstigram-post .user-info img {
    border-radius: 50%;
}

